html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  height: 800px;
}

#map {
  height: 50%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: 5px solid black;
  border-radius: 10px;
}